
* 
{
margin: 0;
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

body
{
font-family: sans-serif;
background-color: #2E2F34;
color: white;
scroll-behavior: smooth; 

}



#nav-bar{
    position: sticky;
    top: 0;
z-index: 10;
}
.navbar{
    background-color: #4b5055;
    padding: 0 !important;
    
}

.kj{
    color: white;
}

.navbar-brand {
    color: white;
    padding-left: 20px;
    font-weight: 300px;
}

.navbar-brand span {
    color: orange;
    font-size: 30px;
}


.navbar-nav li
{
padding: 0 10px;
}

.navbar-nav li a
{
color: white;
font-weight: 600;
float: right;
text-align: left;
}


.navbar-toggler{
    outline: none !important;
}

 /*--------------------------------------------------------------------------------------------------- */

 .first-section{
    height: 100vh;
    margin-top: 0px;
 }

 .hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('https://thumbs.dreamstime.com/b/retired-senior-man-vibing-to-hype-pop-music-portrait-funny-rich-white-haired-old-grandpa-cool-glasses-leopard-patterned-216503535.jpg');
    height: 100vh;
    opacity: 30%;
  }
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
   /*--------------------------------------------------------------------------------------------------- */
.second-section{
    margin-top: 30px;
    height: 100vh;
    padding: 50px;
    background-color: #35373e;

}


.card-img-top{
  width: 400px;
  height: 400px;
}
.card-title{
  color: white;
}
.card-text{
  margin-top: 20px;
  color: yellow;
}

.third-section{
  margin-top: 30px;
  height: 100vh;
  padding: 50px;
  background-color: #35373e;

}


.container .third-section{
  
}


.card{
  background-color: #2E2F34;
}



:root {
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;
  }
  
  
  .wrapper {
    background: #000;
    line-height: 1;
    min-height: 100%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
  }
  
  .fancy {
    font-family: "Exo", sans-serif;
    font-size: 2vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, 
      var(--color-1) 19%, 
      transparent 19%,transparent 20%, 
      var(--color-2) 20%, var(--color-2)  39%,
      transparent 39%,transparent 40%, 
      var(--color-3) 40%,var(--color-3) 59% ,
      transparent 59%,transparent 60%, 
      var(--color-4) 60%, var(--color-4) 79%,
      transparent 79%, transparent 80%, 
      var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .container {
    padding: 1.5rem;   
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),
  
      radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );
  
  
  }
  
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 6.5rem;
    }
  }